.alertmsg {
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  bottom: 50px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background:#000;
  text-align: center;
  align-self: center;
  width: 200px;
  margin-left: 150px;
  align-self: center !important;
  color: goldenrod;

}
.main-con {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .main-con {
    width: 100%;
    padding: 0 10px; /* Adjust padding as needed */
  }
}
.inpCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
  margin-top: 100px;
  border: 1px solid grey;
  width: 300px;
  border-radius: 25px;
  padding: 15px;
}
.inpBox{
  padding: 10px;
  width: 200px;
  border-radius: 8px;border: 0; margin: 20px;
}
.inpBox:hover{
  cursor: pointer;
  transform: scale(1.08);
  box-shadow:1px 2px  gold;
}